.contenedor {
    width: 800px;
    height: 500px;
    margin: 0 auto;

    margin-top: 70px;
}

.izq {
    width: 48%;
    height: 100%;
    background-color: aqua;
    float: left;
    border: 1px solid black;
}

.der {
    width: 48%;
    height: 100%;
    background-color: chartreuse;
    float: right;
    border: 1px solid black;
}