* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("imgs/fondo.png");
    background-size: cover;
    background-position: center;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

header {
    background-color: #333;
}

nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li:hover {
    background-color: white;
    transition: all 0.5s;
}

nav ul li a {
    color: white;
}

nav ul li:hover a {
    color: black;
}

section {

    flex-grow: 1;
}

footer {
    background-color: #333;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

footer div {
    display: inline-block;
    margin-right: 20px;

}

.presentacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

div.foto {
    margin-top: 80px;
    margin-right: 200px;
}

.descripcion {

    max-width: 500px;
}

div.descripcion p {
    text-align: left;
    line-height: 25px;
}

.boton {
    margin-top: 100px;
}

div.redes {
    display: inline-block;
}

div.redes img {
    width: 42px;

    padding: 8px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: visible;
    display: inline-block;
    margin-right: 5px;

}

div.redes img:hover {
    background-color: white;
    border: 1px solid black;
}